.graf-container {
    text-align: center;
    width: 740px;
    margin: 20 auto;
    padding: 0px 20px 0px 20px;
}

@media all and (max-width: 780px) {
    .graf-container {
        width: auto;
    }
}

@media all and (max-width: 400px) {
    .graf-container {
        padding: 0px 20px;
    }
}

.sidebar-close {
    margin-left: -220px;
}

/* .sidebar+.content .toggle-sidebar .fa-bars {
    display: none;
}

.sidebar.sidebar-close+.content .toggle-sidebar .fa-bars {
    display: block;
}

.sidebar.sidebar-close+.content .toggle-sidebar .fa-times {
    display: none;
} */


#flexCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    padding-top: 20px;
}

div#controleSpan {
    margin-left: -65px;
    padding-top: 65px;
    font-weight: 700;
    font-size: 30px;
}

#flexCardtwo {
    display: flex;
    flex-direction: column;
}

.flexCard {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    font-family: Poppins;
    /* text-transform: uppercase; */
    /* border: 1px solid #CAD0D2; */
    border-radius: 4px;
    overflow: hidden;
}

.card-fixedWidth {
    width: 140px;
    height: 140px;
    margin: 25px;
    border-radius: 22px;
    border: 1px solid #CAD0D2;
    color: #b44242;
    cursor: point;
    transition: 1s;
    /* overflow: hidden; */

    /* &:hover {
        transform: scale(1.1);
    } */
}

div.card__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

div.card__descriptionText {
    color: #57727C;
    font-size: 12px;
    text-align: center;
    max-width: calc(100% - 30px);
}

div.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
}

p.card_text {
    text-align: center;
    font-size: 3rem;
    color: var(--p-primary);
    font-weight: 600;
    width: 100%;
}

div.card_header {
    text-align: center;
    color: #57727C;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border-radius: 22px 22px 0 0;
    border-bottom: 1px solid #D7DBDD;
    background-color: #d2e3ea;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}