.main .users {
    display: flex;
    width: 100%;
    margin-top: 7rem;
    padding: 10px;
}

* {
    list-style-type: none;
}

.users .card {
    width: 20%;
    height: 160px;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    /* padding: 10px; */
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.users .per span {
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}

.users .card button {
    width: 100%;
    height: 3.8rem;
    /* margin-top: 8px; */
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    /* background: transparent; */
    /* border: 1px solid #57727C; */
    color: #57727C;
    font-size: 14px;
    font-weight: 700;
}

.users .card button:hover {
    background: #57727C;
    color: #fff;
    transition: 0.5s;
}

div.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

span.inscritos, span.confirmados-pago, span.confirmados-isento, span.pendentes, span.cancelados {
    text-align: center;
    font-size: 45px;
    color: var(--p-primary);
    font-weight: 600;
    width: 100%;
}

.a-button {
        width: 100%;
    height: 3.8rem;
    /* margin-top: 8px; */
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f0f0f0;
    /* background: transparent; */
    /* border: 1px solid #57727C; */
    color: #57727C;
    font-size: 14px;
    font-weight: 700;
      justify-content: center;
}

/* .a-button:hover {
    background: #57727C;
    border-left: transparent;
    color: #fff;
    transition: 0.5s;
} */