#entrada {
    background: url("../assets/img/logo01.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 25px;
    top: 25px;
}

#entrada-conecta {
    background: url("../assets/img/conecta2.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 170px;
    height: 170px;
    right: 0;
    top: 58px;
}


#principal {
    align-self: center;
    justify-self: center;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 5px;
    z-index: 1;
}

#facilite01 {
    order: 0;
}

#facilite02 {
    order: 1;
}

#facilite01 p.title01,
#facilite02 p.title02 {
    background: linear-gradient(182deg, #ff98265e, #00000000);
    font-family: Autography;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    border-radius: 50px;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

#principal .about-event {
    font-family: Poppins;
    font-size: 36px;
    max-width: 520px;
    font-weight: 700;
    color: var(--text-color);
    margin-top: 20px;
    left: 720px;
    text-shadow: 3px 3px #000;
    text-align: center;
    line-height: 1.4;
}

#principal .about-event-two {
    height: auto;
    font-family: Poppins;
    font-size: 40px;
    margin-bottom: 0px;
    color: var(--text-color);
    margin-top: auto;
    left: 720px;
    text-shadow: 3px 3px #000;
    letter-spacing: 12px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #af284675;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#reta01 p {
    font-family: Poppins;
    text-align: end;
    height: 60px;
    background: linear-gradient(272deg, #fd5a1385, #af2846ab, #0000003b);
    width: 200px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    padding: 10px;
    border-radius: 0px 0px 0px 83px;
}

.divflexVenda {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: end;
    height: 100vh;
}

header.event-subscription {

    /* background: url(../assets/img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--text-color); */

    background-image: url("../assets/img/fundo.jpg");
    /* Substitua por sua imagem */
    background-size: cover;
    /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat;
    /* background-position: center center; */
    /* display: flex; */
    /* Utiliza flexbox para facilitar o alinhamento */
    /* justify-content: center; */
    /* Alinha horizontalmente ao centro */
    /* align-items: center; */
    /* Alinha verticalmente ao centro */
    /* width: 100px; */
    /* min-height: 100vh; */
    /* Define a altura mínima do corpo como a altura da viewport */
}

.radio_poss {
    display: flex;
    flex-direction: row;
    color: #410c0c;
}

#inputt {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    margin-bottom: 16px;
}

div.vendah {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    text-transform: uppercase;
}

div.vendah h2 {
    font-size: 22px;
}

div.vendah span {
    font-size: 12px;
}


#lote_one {
    width: 100%;
    padding: 20px;
}

h2.compra_valor {
    padding: 20px;
    color: var(--p-primary);
    background-color: #dddbdb;
}



#entrada-zero {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0px;
    bottom: 0;
}


#resumo_pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px green;
    height: auto;
    width: 100%;
    margin: 30px 0;
    padding: 30px;
}

input.form-control_one {
    /* position: relative; */
    flex: 0 0 auto !important;
    width: 35% !important;
    min-width: 0;
}

.divflexNw {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.divflexW {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input.btn-inscricao.btn {
    /* background-color: #198754de; */
    /* background-color: #19875452; */
    background-color: #ff98265c;
    color: var(--text-color);
    width: 100%;
    padding: 8px;
    border: none;
    cursor: pointer;
    opacity: 1;
    border-radius: 25px;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 16px;
}

a:hover {
    text-decoration: none !important;
    color: #ffc107;
    opacity: 1;
}

.inscreva-form:hover {
    opacity: 0.7;

}

.inscreva-form {
    background-color: #af2846a1;
    padding: 20px;
    max-width: 620px;
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* left: 720px;
    bottom: 0px; */
}


/* Event location */
#location {
    height: 280px;
    background: linear-gradient(rgb(0 0 0 / 88%), rgb(0 0 0 / 55%)), url(../assets/hotel/local01.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 0em;
}

#address,
#about-location {
    max-width: 30%;
}

#address {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#address i {
    color: var(--p-primary);
    font-size: 64px;
    margin-right: 8px;
}

#address-details {
    text-align: center;
    font-size: 1.3em;
}

#about-location h3 {
    color: var(--p-primary);
    font-size: 30px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

#about-location p {
    line-height: 24px;
}

.localizador {
    padding: 20px 0 -1px 0px !important;
    font-size: 74px !important;
}


@media (max-width: 620px) {

    /* Event location */
    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #address i {
        margin: 0.3em 0;
    }

    #about-location {
        order: 1;
        max-width: 100%;
    }

    #about-location h3 {
        margin-bottom: 0;
    }

    #about-location p {
        display: none;
    }


    #entrada-conecta {

        width: 180px !important;
        /* left: 56px !important; */
        top: 60px !important;
        bottom: 0px;

    }


}