/* Mobile */
@media (max-width: 620px) {

    div#perfil_one,
    div#perfil_two {
        margin-top: 40px;
        font-size: 14px;
        padding: 0 20px;
    }

    div#quem_wilson,
    div#quem_paulo {
        width: 500px !important;
        height: 500px !important;
        margin: 20px 20px 0px 20px !important;
        border-radius: 40px !important;
    }

    /* div#perfil_one, div#perfil_two {
        padding: 20px!important;
    } */

    #entrada-conecta {
        background: none !important;
        width: 170px !important;
        height: 188px !important;
        right: 6px !important;
        top: 58px !important;
    }

    #reta01 p {
        text-align: end !important;
        height: 60px !important;
        width: 180px !important;
        right: 0 !important;
        top: 0 !important;
        font-size: 20px !important;
        padding: 10px !important;
        border-radius: 0px 0px 0px 83px !important;
    }

    #entrada {
        width: 180px !important;
        left: 12px !important;
        top: 7px !important;
    }


    header.event-subscription {
        flex-wrap: wrap !important;
        align-items: end !important;
    }

    .divflexHeader {
        flex-wrap: wrap !important;
    }

    .divflexVenda {
        flex-wrap: wrap !important;
        ;
    }

    #facilite01 p.title01,
    #facilite02 p.title02 {
        background: none !important;
        font-size: 28px !important;
        width: 122px !important;
        margin-bottom: -184px !important;
        margin-left: 0px !important;
        color: burlywood !important;
    }

    #entrada-one {
        width: 360px !important;
        height: 430px !important;
        /* order: 3!important; */
        overflow-y: hidden;
        overflow-x: hidden;
    }

    #entrada-two {
        width: 175px !important;
        height: 210px !important;
        /* order: 2!important; */

    }

    #principal {
        margin-top: 50px !important;
        align-self: center !important;
        order: 0 !important;
        /* width: 100%; */
    }

    #facilite01 {
        order: 1 !important;
    }

    #facilite02 {
        order: 2 !important;
        ;
    }

    
#principal { 
    bottom: 300px!important;
    top: 0!important;
}

    #principal .about-event-two {
        font-size: 35px !important;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 0 !important;
    }

    #principal p.about-event-three {
        text-align: center !important;
        font-size: 14px !important;
        padding: 8px !important;
        border-radius: 0 !important;
    }

    #principal .about-event {
        font-size: 28px !important;
    }

    #subscription-form p {
        font-size: 18px !important;
    }



    .form-group input,
    .form-group select {
        padding: 2px !important;
        border-radius: 17px !important;
        margin: 2px !important;
    }

    #subscription-form {
        padding: 15px;
    }

    .form-group label {
        font-size: 12px !important;
    }

    input#btn-inscr.btn {
        font-size: 12px !important;
    }



}




/* 

@media (max-width: 800px) {
    div#perfil_one {
        margin-top: 40px;
    }

} */