div:where(.swal2-container) .swal2-input {
    width: 90% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.FJA3UA {
    display: none !important;
}

.Ka9auQ {
    display: none !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0px !important;
}

div:where(.swal2-container) .swal2-radio label,
div:where(.swal2-container) .swal2-checkbox label {
    font-size: 1.35em !important;
}

div:where(.swal2-container) h2:where(.swal2-title) {
    font-size: 1.6em !important;
}

button#btnCasal,
button#btnIndividual {
    background-color: #ef6370;
    color: var(--text-color);
    width: auto;
    height: auto;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    opacity: 1;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 600;
}

/* #fc8c78 */

#papo5 {

    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 30%),
        linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 30%),
        url(../assets/img/papo5.png);

    /* url(../assets/img/papo5.png); */
    /* background-image: url(../assets/img/papo5.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 110vh;
}

#individualPreco {
    background-image: url(../assets/img/individual.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 460px;
    width: 370px;
}

#individualPreco h1,
#casalPreco h1 {
    font-weight: 800;
    font-family: PoppinsBold !important;
}

#individualPreco h2,
#casalPreco h2 {
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;
}

#individualPreco li,
#casalPreco li {
    font-weight: 600;
    font-size: 1.5rem;
}

li::marker {
    font-size: 1.3em;
}

/* ul{
    list-style-position: inside;
    } */

#casalPreco {
    background-image: url(../assets/img/casal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 460px;
    width: 370px;
}

#papo5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.papo5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#individualPreco,
#casalPreco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2.5rem;
    color: #fff;
}

#papo5Title {
    font-size: 2rem;
    color: #fff;
    font-family: PoppinsBold !important;
    font-weight: 700;
    line-height: normal;
}

#papo5Title>p>span {
    background-color: #ef6370;
    padding: 6px 12px;
}

/* #papo5Title>p>span.01 {
    background-color: #ef6370;
}
#papo5Title>p>span.02 {
    background-color: #ef6370;
} */

#papo5Title {
    background-image: url(../assets/img/papo-centro.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 25%;
    width: 30%;
}

#topleft {
    background-image: url(../assets/img/banner-top.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
}


#rodapePapo {
    background-image: url(../assets/img/papo-rodape.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10vh;
    width: 25%;
    margin-right: 0;
    padding-right: 0;
}

#topright {
    background-image: url(../assets/img/papo-right.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    height: 12vh;
    width: 25%;
    margin-right: 0;
    padding-right: 0;
}

#logo1 {
    background-image: url(../assets/img/papo-logo01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 5rem;
    height: 16vh;
    width: 9%;
}

#logo2 {
    background-image: url(../assets/img/papo-logo02.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 25rem;
    height: 15vh;
    width: 10%;
}

@media only screen and (max-width: 720px) {

    .papo5 {

        flex-direction: column;
    }


    #topleft {
        height: 15vh;
    }

    #papo5 {
        height: auto;
    }


    #papo5Title {
        width: 65%;
        margin-top: 36px;
    }

    #individualPreco {
        margin-top: 100px;
    }

    #casalPreco {
        margin-bottom: 20px;
    }

    #topright,
    #rodapePapo,
    #logo1,
    #logo2 {
        background-image: none;
    }

}