/* .container {
    width: 100%;
    height: 100%;
} */

.flex-container {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}


#section_three,
#section_four {
    background: #000;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 40px 0 0 0;
}

div#quem_wilson {
    background: linear-gradient(rgba(0, 0, 0, 6%), rgba(0, 0, 0, 28%)), url(../assets/img/wilson.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 620px;
    height: 620px;
    border-radius: 35px 0px 0px 35px;
    margin-bottom: 20px;
}


div#quem_paulo {
    background: linear-gradient(rgba(0, 0, 0, 6%), rgba(0, 0, 0, 28%)), url(../assets/img/paulo_ap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 620px;
    height: 720px;
    border-radius: 35px 0px 0px 35px;
    margin-bottom: 20px;
} 


div#perfil_one, div#perfil_two {
    font-size: 19px;
    color: #fff;
    max-width: 720px;
    justify-content: center;
    text-align: justify;
    font-weight: 500;
    padding: 0 20px;
    hyphens:auto;
}

h2.aprender-title {
    font-family: Poppins;
    color: #fff;
    font-size: 40px;
    text-align: start;
    font-weight: 600;
    margin-bottom: 30px;
    /* width: 720px; */
}

h2.aprender-title span.onespan {
    font-family: Poppins;
    color: var(--p-secondary);
}

/* .quempalestra {
    height: auto;
    width: auto; */
/* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; */
/* } */



