@import url('./fonts.css');

:root {

    --p-primary: #af2846;
    --p-secondary: #ff9826;
    --p-tertiary: #a3a4a6;
    --secondary: #95989a;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
    --text-photo: #c9cca4;
    --future: #ff6762;

    --espaco-one: &nbsp;
    --espaco-two: &ensp;
    --espaco-three: &emsp;
    /* --espaco-recuo: &nbsp;&nbsp;&nbsp;&nbsp; */
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    color: var(--p-primary);
    font-weight: 700;
}

a:hover {
    text-decoration: none !important;
}

hr {
    margin: 10px 0 !important;
}

footer {
    background-color: #000;
    padding: 20px 0;
}

footer h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

footer a {
    color: var(--p-secondary);
}

footer .foot-end {
    /* margin: 20px 0px 20px 0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
}

footer span {
    font-weight: bold;
    color: var(--p-primary);
}

footer #logo-foot {
    background-image: url(../assets/img/conecta.png);
}

footer .center-obj {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 20%; */
    color: var(--text-tertiary);
}

footer .logo-foot-img {
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
}

/* #benefit-3 {
background-image: url("../assets/img-landing/logo_limpa.png");
} */