
div#pagament5 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.6rem;
    text-align: justify;
    hyphens: auto;
}


.botao-sombra1 {
    display: inline-block;
    /* Ou block, dependendo do layout */
    padding: 10px 20px;
    /* margin: 0px; */
    background-color: #fc502a;
    /* Cor de fundo do botão */
    color: rgb(255, 255, 255);
    /* Cor do texto */
    text-decoration: none;
    /* Remove sublinhado padrão de links */
    border: none;
    /* Remove a borda padrão */
    cursor: pointer;
    /* Indica que é clicável */
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 0px 10px 20px -8px black;
    -webkit-box-shadow: 0px 10px 20px -8px black;
    -moz-box-shadow: 0px 10px 20px -8px black;

    &:hover {
        background-color: #e786708c;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.4);
    }

    #pagament5 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}